@import "tailwindcss";

/* Barcha qismlarni mutlaqo qora qilish */
body, html {
  background-color: #000000 !important;
  color: #ef4444;
  font-family: 'Inter', sans-serif;
}

/* Asosiy konteynerlar foni */
div, section, header, footer {
  background-color: transparent;
}